header {
  width: 100%;

  .header-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: calc(100%/3);

    .content {
      position: absolute;
      top: 0;
      height: 100%;
      font-family: 'Roboto Condensed', sans-serif;
    }

    .left {
      left: 0;
      width: 69%;
      background:#e9eae2 url("png/img.png") center center no-repeat;
      background-size: contain;

      .logo {
        position: absolute;
        cursor: default;
        width: 15.6%;
        top: 10%;
        left: 16.2%;
        margin: 0;

        img {
          width: 100%;
        }

        figcaption {
          font-size: 1.3vw;
          color: #393d3c
        }
      }

      .social {
        position: absolute;
        top: 75%;
        left: 16.2%;
        height: 4%;
        width: 15.6%;
        text-align: center;

        a {
          margin-right: 5%;
        }

        img {
          transition: transform 0.3s;
          height: 100%;
        }

        img:hover {
          transform: scale(1.3, 1.3);
        }
      }
    }

    .right {
      right: 0;
      width: 31%;
      background-color: #7acec3;

      .address {
        position: absolute;
        left: 12%;
        top: 52.4%;
        color: white;
        font-size: 0.9vw;
      }

      .telephone {
        position: absolute;
        left: 30%;
        top: 74.6%;
        color: white;
        font-size: 0.9vw;
      }
    }
  }
}